<html>
  <!-- <link -->
  <!--   rel="stylesheet" -->
  <!--   href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" -->
  <!--   integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" -->
  <!--   crossorigin="anonymous" -->
  <!-- /> -->
  <!-- Minified version -->
  <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" /> -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Todos</title>
  </head>

  <body class="">
    <div class="px-4 md:w-1/2 mx-auto bg-gray-50 h-screen">
      <p class="text-bold text-5xl text-center">Todos</p>

      <div class="flex justify-center mt-10">
        <form action="/" method="post">
          <input
            class="bg-gray-100 p-1 text-lg border-2 border-gray-400 rounded-lg outline-none"
            type="text"
            id="content"
            placeholder="Maybe a drink?..."
            required
            name="content"
          />
          <button
            class="ml-4 px-4 py-1 text-lg bg-gray-700 rounded-sm border border-black rounded text-gray-200 hover:text-gray-700 hover:bg-gray-500 hover:border-gray-500"
            type="submit"
          >
            +
          </button>
        </form>
      </div>

      <div class="mt-10 mx-auto w-1/2">
        <div class="flex flex-col gap-4">
          {% for todo in todos %}

          <div>
            <div class="flex align-center justify-center items-center">
              <p
                class="update italic cursor-pointer {% if todo.done %} text-select-none text-gray-400 line-through {% endif %} text-xl"
                data-done="{{todo.done}}"
                data-id="{{todo.id}}"
                id="{{todo.id}}"
              >
                {{ todo.content }}
              </p>

              <p
                class="ml-10 text-red-500 text-xl cursor-pointer delete-btn"
                data-id="{{todo.id}}"
              >
                X
              </p>

              <p></p>
            </div>
          </div>
          {% endfor %}

          <script>
            document.addEventListener("DOMContentLoaded", function () {
              document.querySelectorAll(".delete-btn").forEach((button) => {
                button.addEventListener("click", function () {
                  console.log(this.dataset);
                  const todoId = this.dataset.id;
                  sendFormData(`/`, "DELETE", { id: parseInt(todoId) }).then(
                    () => {}
                  );
                });
              });
            });

            document.addEventListener("DOMContentLoaded", function () {
              document.querySelectorAll(".update").forEach((button) => {
                button.addEventListener("click", function () {
                  const todoId = this.dataset.id;
                  const isDone = this.dataset.done;
                  sendFormData(`/`, "PUT", {
                    id: parseInt(todoId),
                    done: isDone == "true" ? false : true,
                  }).then(() => {});
                });
              });
            });

            async function sendFormData(url, method, data) {
              let response = await fetch(url, {
                method: method,
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
              });

              window.location.reload();
            }
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
